.container {
    margin-top: 2.5%;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.content {
    text-align: center;
    width: 80%;
    height: 25%;
}

.heading {
    font-size: 3rem;
    margin: 0.5rem;
    transition: color 0.3s ease;
}

.para1, .para2 {
    margin: 0;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.highlight {
  transition: color 0.3s ease;
}

.items {
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.item {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.item p:last-child {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.5;
}

.icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}

.para3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.para4 {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        min-height: auto; /* Let content decide height on small screens */
        padding: 0 0; 
        margin-top: 7%;
    }

    .items {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem; /* Space between stacked items */
    }

    .item {
        width: 75%; /* Fill more width on mobile */
        height: auto; /* Avoid overflow */
    }

    .icon {
        font-size: 1.5rem;
    }

    .heading {
        font-size: 1.75rem;
        margin: 0.7rem;
        padding: 0;
        line-height: 30px;
    }

    .para2 {
        margin: 0.5rem;
    }
}
