html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
    height: 80vh;
    font-size: 1.3rem;
    font-family: 'poppins', sans-serif;
}

.header {
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

.heading {
    white-space: nowrap;
    font-size: 2rem;
}

.image {
    top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
}

.paragraph {
    width: 70%;
    padding: 2rem 2rem;
}

.para {
    font-size: 24px;
}

.imageSection {
    width: 60%;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        margin-left: 20px;
        justify-content: center; /* center align on mobile */
    }
    .heading {
        font-size: 1.5rem; /* smaller for small screens */
    }
    .paragraph {
        width: 80%;
    }
    .imageSection {
        width: 80%;
    }
}

@media (max-width: 380px) {
    .image {
        width: 80%;
    }
}