.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.content {
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
}

.heading {
    font-size: 3rem;
    margin: 0.5rem;
    transition: color 0.3s ease;
}

.highlight {
    transition: color 0.3s ease;
}

.para1, .para2 {
    margin: 0;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.para2 {
    margin-top: 0.5rem;
}

.animationSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        min-height: auto;
        padding: 0;
        margin-top: 7%;
    }

    .content {
        width: 90%;
        margin-bottom: 2rem;
    }

    .heading {
        font-size: 1.75rem;
        margin: 0.7rem;
        padding: 0;
        line-height: 30px;
    }

    .para1, .para2 {
        font-size: 1rem;
    }

    .para2 {
        margin-top: 0.5rem;
    }

    .animationSection {
        width: 100%;
        margin-top: 1.5rem;
        padding: 0 1rem;
    }
}

