.App {
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.3s ease;
}


/* Prevent horizontal scrolling on mobile */
html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Force all sections to fit inside screen */
* {
  box-sizing: border-box;
  max-width: 100%;
}
